/src/.vs
/src/InnoSetup/*.exe
/src/TjMott.Writer/bin
/src/TjMott.Writer/obj
/src/TjMott.Writer/Assets/cef-linux64/resources/chrome_100_percent.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/chrome_200_percent.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/icudtl.dat
/src/TjMott.Writer/Assets/cef-linux64/resources/resources.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/en-US.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/es.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/es-419.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/et.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/fa.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/fi.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/fil.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/fr.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/gu.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/he.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/hi.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/hr.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/hu.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/id.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/it.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ja.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/kn.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ko.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/lt.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/lv.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ml.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/mr.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ms.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/nb.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/nl.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/pl.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/pt-BR.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/pt-PT.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ro.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ru.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/sk.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/sl.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/sr.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/sv.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/sw.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ta.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/te.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/th.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/tr.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/uk.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ur.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/vi.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/zh-CN.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/zh-TW.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/af.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/am.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ar.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/bg.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/bn.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/ca.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/cs.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/da.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/de.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/el.pak
/src/TjMott.Writer/Assets/cef-linux64/resources/locales/en-GB.pak
/src/TjMott.Writer/Assets/cef-linux64/lib/swiftshader
/src/TjMott.Writer/Assets/cef-linux64/lib/chrome-sandbox
/src/TjMott.Writer/Assets/cef-linux64/lib/icudtl.dat
/src/TjMott.Writer/Assets/cef-linux64/lib/libcef.so
/src/TjMott.Writer/Assets/cef-linux64/lib/libEGL.so
/src/TjMott.Writer/Assets/cef-linux64/lib/libGLESv2.so
/src/TjMott.Writer/Assets/cef-linux64/lib/libvk_swiftshader.so
/src/TjMott.Writer/Assets/cef-linux64/lib/libvulkan.so.1
/src/TjMott.Writer/Assets/cef-linux64/lib/snapshot_blob.bin
/src/TjMott.Writer/Assets/cef-linux64/lib/v8_context_snapshot.bin
/src/TjMott.Writer/Assets/cef-linux64/lib/vk_swiftshader_icd.json
/src/TjMott.Writer/Assets/cef-win64/resources/chrome_100_percent.pak
/src/TjMott.Writer/Assets/cef-win64/resources/chrome_200_percent.pak
/src/TjMott.Writer/Assets/cef-win64/resources/icudtl.dat
/src/TjMott.Writer/Assets/cef-win64/resources/resources.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/da.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/de.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/el.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/en-GB.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/en-US.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/es.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/es-419.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/et.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/fa.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/fi.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/fil.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/fr.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/gu.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/he.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/hi.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/hr.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/hu.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/id.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/it.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ja.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/kn.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ko.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/lt.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/lv.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ml.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/mr.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ms.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/nb.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/nl.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/pl.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/pt-BR.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/pt-PT.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ro.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ru.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/sk.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/sl.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/sr.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/sv.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/sw.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ta.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/te.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/th.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/tr.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/uk.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ur.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/vi.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/zh-CN.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/zh-TW.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/af.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/am.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ar.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/bg.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/bn.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/ca.pak
/src/TjMott.Writer/Assets/cef-win64/resources/locales/cs.pak
/src/TjMott.Writer/Assets/cef-win64/lib/swiftshader
/src/TjMott.Writer/Assets/cef-win64/lib/cef_sandbox.lib
/src/TjMott.Writer/Assets/cef-win64/lib/chrome_elf.dll
/src/TjMott.Writer/Assets/cef-win64/lib/d3dcompiler_47.dll
/src/TjMott.Writer/Assets/cef-win64/lib/icudtl.dat
/src/TjMott.Writer/Assets/cef-win64/lib/libcef.dll
/src/TjMott.Writer/Assets/cef-win64/lib/libcef.lib
/src/TjMott.Writer/Assets/cef-win64/lib/libEGL.dll
/src/TjMott.Writer/Assets/cef-win64/lib/libGLESv2.dll
/src/TjMott.Writer/Assets/cef-win64/lib/snapshot_blob.bin
/src/TjMott.Writer/Assets/cef-win64/lib/v8_context_snapshot.bin
/src/TjMott.Writer/Assets/cef-win64/lib/vk_swiftshader.dll
/src/TjMott.Writer/Assets/cef-win64/lib/vk_swiftshader_icd.json
/src/TjMott.Writer/Assets/cef-win64/lib/vulkan-1.dll
/src/linux64
/src/TjMott.Writer/App.config
/src/TjMott.Writer/README.md
